.pay-system {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #c3c3c3;

  margin: -10px -20px;
  @include media-tablet {
    margin: -10px -15px;
  }

  &__item {
    margin: 10px 20px;
    @include media-tablet {
      margin: 10px 15px;
    }
  }
}
