//- Description
	+head({
		title: String,
		description: String
	})

mixin head(props = {})
	meta(charset="utf-8")
	title= props.title
	meta(http-equiv="X-UA-Compatible" content="IE=Edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="format-detection" content="telephone=no")
	meta(name="description" content= props.description)

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">

	//- // Favicon
	//- +favicon(props)

	//- // Social
	//- +open-graph(props)

	link(rel="stylesheet" media="all" href= "css/app.min.css")
	//- link(rel="stylesheet" media="all" href= "/css/fonts.css")

	//- // Libs
	//- script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')