// MEDIA
$mediaWidthMobile: 400;
$mediaWidthTablet: 768;
$mediaWidthTabletHorizontal: 1024;
$mediaWidthLaptop: 1366;

// COLORS
$white: white;
$black: black;
$text-color: $black;
$accent: #3e9cdc;
$accent-dark: #286690;

// BOX

$radius-btn: 4px;
$radius-inp: 3px;
