.tabs.js-tabs-wrapper
	.tabs__container
		.tabs__header
			ul.tabs__list
				li.tabs__item
					a.tabs__link.js-tab-trigger.active(href="#trig-1")
				li.tabs__item
					a.tabs__link.js-tab-trigger(href="#trig-2")
	.tabs__body
		.tabs__content.js-tab-content.active(id="trig-1")
		.tabs__content.js-tab-content(id="trig-2")