figure.video
    video(poster="../img/video/video-1.png")
        source( src="../img/video/movie.mp4" type="video/mp4")
    button.video__button.js-video-button(type="button")
        span.video__icon