.input-file {
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  background: $white;
  border: 2px solid $accent;
  border-radius: $radius-inp;
  text-transform: uppercase;
  color: #272733;
  padding: 10px;
  min-height: 48px;

  &__icon {
    flex-shrink: 0;
    margin-right: 10px;
    font-size: 20px;
  }

  &__text {
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__field {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}
