footer.footer
	.container
		.footer__row
			.footer__item
				p.nav-link.centered
					| © 2018 
					span.upper «LoremIpsum.net» 
					| Все&nbsp;права&nbsp;защищены.
			.footer__devider
			.footer__item
				ul.pay-system
					li.pay-system__item
						.bttn-link
							.bttn-link__icon
								img(src="img/content-icon/icon-qiwi.svg", alt="Qiwi wallet", loading="lazy")
							.bttn-link__text.nav-link Qiwi wallet
					li.pay-system__item
						.bttn-link
							.bttn-link__icon
								img(src="img/content-icon/icon-yandex-money.svg", alt="Yandex Money", loading="lazy")
							.bttn-link__text.nav-link Yandex Money
					li.pay-system__item
						.bttn-link
							.bttn-link__icon
								img(src="img/content-icon/icon-web-money.svg", alt="Web Money", loading="lazy")
							.bttn-link__text.nav-link Web Money
			.footer__devider
			.footer__item
				ul.contacts-list
					li.contacts-list__item
						a(href="mailto:info@ipsum228.com").contacts-list__link.bttn-link
							span.bttn-link__icon
								+icon('icon-envelope')
							span.bttn-link__text.nav-link info@ipsum228.com
					li.contacts-list__item
						a(href="https://vk.com/" target="_blank").contacts-list__link.bttn-link
							span.bttn-link__icon
								+icon('icon-vk')
							span.bttn-link__text.nav-link Мы вконтакте