.menu-mob-header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 120px;

  @include r(1024) {
    height: 72px;
  }

  @include r(640) {
    height: 64px;
  }

  &__market-btn {
    margin: 0;
    padding: 0 60px;

    @include r(640) {
      padding: 0 32px;
    }

    @include r(480) {
      padding: 0 8px;
    }
  }

  &__close-btn {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
  }
}
